@import url('https://fonts.cdnfonts.com/css/origin-tech-demo');

.logo{
    font-family: 'Origin Tech Demo', sans-serif;
    color: #0065b8;
    font-size: large;
}

/* Main Styles */
.hide{
  display: none;
}
.main {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    
	flex-direction: row;
  }
  
  .feed-container {
    max-width: 600px;
    width: 100%;
    margin: 20px;
    /* padding: 20px; */
  }
  .feed {
    max-width: 600px;
    width: 100%;
    margin-top: 18px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
  }
  .publish{
    max-width: 600px;
    width: 100%;
    /* margin: 20px; */
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
  }
  
  .post {
    margin-bottom: 20px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post-header img {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  
  .post-header-details h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .post-header-details p {
    font-size: 14px;
    color: #B2B2B2;
  }
  
  .post-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .post-content img {
    margin-top: 10px;
  }
  
  .post-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .post-actions button {
    margin-right: 10px;
  }
  
  .comments {
    margin-top: 10px;
  }
  
  .comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .comment img {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  .comment-details{
    line-height: 13px;
    width: 60%;
  }
  .comment-details h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .comment-details p {
    font-size: 14px;
    color: #B2B2B2;
    margin-bottom: 5px;
  }
  
  .comment-form {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .comment-form img {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  
  .comment-form input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
  }
  
  .comment-form button[type="submit"] {
    margin-right: 10px;
  }
  
  /* Sidebar styles */
.sidebar-left,
.sidebar-right {
  /* position: fixed; */
  padding: 15px;
  width: 25%;
  margin: 20px 3rem;
  max-height: 90vh;
  height: fit-content;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}
.sidebar-left{
 left: 0;
}
.sidebar-right{
  right: 0;
}

.trending h2,
.links h2,
.suggested-friends h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.trending ul,
.links ul,
.suggested-friends ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.links-left{
  position: relative;
  padding-bottom: 10px;
}
/* left side  links*/
.links-left::after{
  content: '';
  width: 0%;
  height: 4px;
  background: #0065b8;
  display: block;
  position: absolute;
  transition: 0.8s;
}

.links-left:hover::after{
  width: 100%;
}
/* form publier nouveau post */
.form-publish {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.form-label-publish {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control-file-publish {
  border: none;
  background-color: #F2F2F2;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form-control-publish {
  border: none;
  background-color: #F2F2F2;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  resize: none;
}

.form-bottom-part{
  width: 100%;
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #1194ff80;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #0065b880;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }
 /* upload button */
 .image-upload {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
/* comments input*/
.coment-content-input{
  height: 16px;
  padding-left: 3px !important;
  border-radius: 4px !important;
}
.editedComment{
  border-radius: 10px;
}

@media screen and (max-width: 1000px){
  .sidebar-right{
    display: none;
  }
}
@media screen and (max-width: 750px){
  .sidebar-left,.sidebar-right{
    display: none;
  }
}
/* nav */
.nav-all{
  background-color: white;
  box-shadow: 0 0 4px lightgray;
  z-index: 10;
}
/* chat */
.chat-container{
  position: fixed;
  height: 86%;
  width: 96%;
  left: 2.5rem; 
  top: 5rem;
}
.chat-box-container{
  position: relative;
  height: 96%;
  width: 100%;
}
.chatbox-header{
  width: 100px;
  width: 100%;
  padding: 20px;
}
.chatbox-body{
  height: 62vh;
  position: relative;
  overflow-y: scroll;
}
.chatbox-footer{
  position: absolute;
  bottom: 0;
}
.msg_body{
  margin: 10px;
  padding: 10px;
  background-color: #0081eb80;
  border-radius: 1rem;
  position: relative;
  padding-bottom: 27px;
  width: fit-content;
  min-width: 7rem;
}
.msg_body_receiver{
  margin-right: 35%;
  border-bottom-left-radius: 0 !important;
}
.msg_body_sender{
  margin-left: 35%;
  border-bottom-right-radius: 0 !important;
}
.time_date{
  position: absolute;
  right: 14px;
  bottom: 4px
}
.comment-form-chat{
  position: absolute;
  bottom: 0;
  width: 99%;
}